{{- if .Values.controller.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gitlab.fullname" . }}
  labels:
    {{- include "gitlab.labels" . | nindent 4 }}
    {{- with .Values.controller.labels }}
    {{ toYaml . | indent 4 }}
    {{- end }}
  {{- with .Values.controller.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.controller.replicas }}
  replicas: {{ .Values.controller.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "gitlab.selectorLabels" . | nindent 6 }}
  {{- with .Values.controller.updateStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      {{- with .Values.controller.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "gitlab.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gitlab.serviceAccountName" . }}
      {{- if .Values.extraInitContainers }}
      initContainers:
        {{- with .Values.extraInitContainers }}
          {{- $extraInitContainers := list }}
          {{- range $name, $container := . }}
            {{- if not $container.name -}}
              {{- $_ := set $container "name" $name }}
            {{- end }}
            {{- $extraInitContainers = append $extraInitContainers $container }}
          {{- end }}
          {{- tpl (toYaml $extraInitContainers) $ | nindent 8 }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- range $key, $val := .Values.ports }}
            {{- if $val.enabled }}
            - name: {{ $key | quote }}
              containerPort: {{ $val.port }}
              protocol: {{ default "TCP" $val.protocol | quote }}
            {{- end }}
            {{- end }}
          env:
            - name: GITLAB_OMNIBUS_CONFIG
              valueFrom:
                configMapKeyRef:
                {{- if .Values.configMap.existingConfigMap }}
                  name: {{ .Values.configMap.existingConfigMap }}
                {{- else }}
                  name: {{ printf "%s-config" (include "gitlab.fullname" . ) }}
                {{- end }}
                  key: {{ default "gitlab.rb" .Values.configMap.key }}
            {{- range $i, $val := .Values.env }}
            {{- if $val.value }}
            - name: {{ $val.name | quote }}
              value: {{ $val.value | quote }}
            {{- else if $val.valueFrom }}
            - name: {{ $val.name | quote }}
              valueFrom:
                {{- toYaml $val.valueFrom | nindent 16 }}
            {{- end }}
            {{- end }}
          volumeMounts:
            {{- range $name, $pvc := .Values.persistentVolumeClaims }}
            - name: {{ printf "%s-volume" $name }}
              mountPath: {{ $pvc.mountPath }}
            {{- end }}
            {{- if eq (include "gitlab.backups.enabled" . ) "true" }}
            - name: backups-volume
              mountPath: {{ include "gitlab.backups.mountPath" . }}
            {{- end }}
            {{- with .Values.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- if .Values.healthCheck.enabled }}
          startupProbe:
            httpGet:
              path: /-/health
              port: http
            failureThreshold: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /-/liveness
              port: http
          readinessProbe:
            httpGet:
              path: /-/readiness
              port: http
          {{- end }}
          resources: {{ if not .Values.resources -}}{}{{- end }}
            {{- if .Values.resources }}
            {{- toYaml .Values.resources | nindent 12 }}
            {{- end }}
          securityContext:
            {{- with .Values.securityContext }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        {{- with .Values.extraContainers }}
          {{- $extraContainers := list }}
          {{- range $name, $container := . }}
            {{- if not $container.name -}}
              {{- $_ := set $container "name" $name }}
            {{- end }}
            {{- $extraContainers = append $extraContainers $container }}
          {{- end }}
          {{- tpl (toYaml $extraContainers) $ | nindent 8 }}
        {{- end }}
      volumes:
        {{- range $name, $pvc := .Values.persistentVolumeClaims }}
        - name: {{ printf "%s-volume" $name }}
          persistentVolumeClaim:
            {{- if and $pvc.create (empty $pvc.existingPersistentVolumeClaim) }}
            claimName: {{ printf "%s-%s" (include "gitlab.fullname" $ ) $name }}
            {{- else }}
            claimName: {{ $pvc.existingPersistentVolumeClaim }}
            {{- end }}
        {{- end }}
        {{- if eq (include "gitlab.backups.enabled" . ) "true" }}
        {{- $_ := set .Values.backups "name" "backups-volume" -}}
        {{- include "base.persistence.volumeSpec" .Values.backups | nindent 8 }}
        {{- end }}
        {{- with .Values.extraVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . | quote }}
      {{- end }}
      {{- if .Values.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
