{{- if and .Values.persistentVolumeClaim.create (empty .Values.persistentVolumeClaim.existingPersistentVolumeClaim) -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ printf "%s-storage" (include "gitlab.fullname" .) }}
  labels:
    {{- include "gitlab.labels" . | nindent 4 }}
    {{- with .Values.persistentVolumeClaim.labels }}
    {{ toYaml . | indent 4 }}
    {{- end }}
  {{- with .Values.persistentVolumeClaim.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  volumeMode: Filesystem
  storageClassName: local-path
{{- end }}
