# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: code-server
description: DEPRECATED! A Helm chart for Kubernetes
version: 3.0.0
# renovate: image=ghcr.io/coder/code-server
appVersion: "4.109.2"
deprecated: true

home: https://charts.pascaliske.dev/charts/code-server/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/coder/code-server
keywords:
  - vscode
  - code-server
  - browser-ide
  - ide

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: deprecated
      description: 'Mark chart as deprecated.'
