# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: paperless
description: A Helm chart for paperless-ngx
version: 7.0.0
# renovate: image=ghcr.io/paperless-ngx/paperless-ngx
appVersion: "2.20.2"

home: https://charts.pascaliske.dev/charts/paperless/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/paperless-ngx/paperless-ngx
keywords:
  - paperless
  - paperless-ngx
  - document-management-system
  - dms
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev
  - name: redis
    version: 2.1.0
    repository: https://charts.pascaliske.dev
    condition: redis.enabled

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Switch to empty dir as default type for consumption feature.'
    - kind: changed
      description: 'Switch to disabled empty dir as default type for export feature.'
    - kind: changed
      description: 'Switch to disabled empty dir as default type for trash feature.'
    - kind: changed
      description: 'Switch to disabled empty dir as default type for media feature.'
    - kind: changed
      description: 'Create export rbac objects only if export cronjob is enabled.'
