# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: paperless
description: A Helm chart for paperless-ngx
version: 6.0.0
# renovate: image=ghcr.io/paperless-ngx/paperless-ngx
appVersion: "2.20.2"

home: https://charts.pascaliske.dev/charts/paperless/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/paperless-ngx/paperless-ngx
keywords:
  - paperless
  - paperless-ngx
  - document-management-system
  - dms
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev
  - name: redis
    version: 2.1.0
    repository: https://charts.pascaliske.dev
    condition: redis.enabled

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Bump Paperless-ngx to v2.20.2.'
    - kind: changed
      description: 'Improve default workload security.'
    - kind: added
      description: 'Support different image registries.'
    - kind: added
      description: 'Support specifying the update strategy of the controller.'
    - kind: added
      description: 'Support service account creation.'
    - kind: added
      description: 'Support specifying more service values.'
    - kind: added
      description: 'Support custom node selector block.'
    - kind: added
      description: 'Support specifying extra containers.'
    - kind: added
      description: 'Support specifying extra volumes and volume mounts.'
    - kind: added
      description: 'Support creation of extra templated objects.'
