# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: linkding
description: A Helm chart for linkding
version: 3.0.0
# renovate: image=ghcr.io/sissbruecker/linkding
appVersion: "1.45.0"

home: https://charts.pascaliske.dev/charts/linkding/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/sissbruecker/linkding
keywords:
  - linkding
  - bookmarks
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.3.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Breaking change: Renamed key for specifying extra containers.'
    - kind: changed
      description: 'Support specifying container-level security context.'
    - kind: added
      description: 'Support custom nodeSelector block.'
    - kind: added
      description: 'Support specifying priority class name.'
    - kind: added
      description: 'Support specifying extra init containers.'
    - kind: added
      description: 'Support specifying extra volumes and volume mounts.'
    - kind: added
      description: 'Support creation of extra templated objects.'
