# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: plausible
description: A Helm chart for Plausible Community Edition
version: 2.0.0
# renovate: image=ghcr.io/plausible/community-edition
appVersion: "v2.1.5"

home: https://charts.pascaliske.dev/charts/plausible/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/plausible/community-edition
  - https://github.com/plausible/analytics
  - https://plausible.io
keywords:
  - plausible
  - analytics
  - privacy-focused
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Update to Plausible Community Edition v2.1.5.'
