# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: plausible
description: A Helm chart for Plausible
version: 1.1.0
# renovate: image=plausible/analytics
appVersion: "v2.0.0"

home: https://charts.pascaliske.dev/charts/plausible/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/plausible/analytics
  - https://github.com/plausible/hosting
  - https://plausible.io
keywords:
  - plausible
  - analytics
  - privacy-focused
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev
  - name: postgresql
    version: 13.1.5
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: clickhouse
    version: 0.2.3
    repository: https://charts.pascaliske.dev
    condition: clickhouse.enabled

annotations:
  artifacthub.io/changes: |-
    - kind: added
      description: 'Add support for customizing the mount path of the GeoIP database.'
