# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: plausible-exporter
description: A Helm chart for plausible-exporter
version: 1.0.0
# renovate: image=ghcr.io/riesinger/plausible-exporter
appVersion: "1.1.0"

home: https://charts.pascaliske.dev/charts/plausible-exporter/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/riesinger/plausible-exporter
keywords:
  - plausible-exporter
  - plausible
  - prometheus
  - metrics
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Always use Deployment for stateless exporter.'
    - kind: added
      description: 'Support specifying the update strategy of the controller.'
    - kind: added
      description: 'Support specifying more service values.'
    - kind: added
      description: 'Support tolerations and affinity blocks.'
    - kind: added
      description: 'Support different image registries.'
