# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: keycloak
description: A Helm chart for Keycloak
version: 0.2.0
# renovate: image=quay.io/keycloak/keycloak
appVersion: "26.1.3"

home: https://charts.pascaliske.dev/charts/keycloak/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/keycloak/keycloak
  - https://keycloak.org
keywords:
  - keycloak
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.2.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: added
      description: 'Added support for an additional metrics port serving the metrics and health endpoints.'
    - kind: changed
      description: 'Changed the port value of the ServiceMonitor to the new metrics port.'
    - kind: changed
      description: 'Changed the port value of the probes to the new metrics port.'
