image:
  # -- The repository to pull the image from.
  repository: quay.io/keycloak/keycloak
  # -- The docker tag, if left empty chart's appVersion will be used.
  # @default -- `.Chart.AppVersion`
  tag: ''
  # -- The pull policy for the controller.
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ''
fullnameOverride: ''

controller:
  # -- Create a workload for this chart.
  enabled: true
  # -- Type of the workload object.
  kind: StatefulSet
  # -- The number of replicas.
  replicas: 1
  # -- Additional annotations for the controller object.
  annotations: {}
  # -- Additional labels for the controller object.
  labels: {}

service:
  # -- Create a service for exposing this chart.
  enabled: true
  # -- The service type used.
  type: ClusterIP
  # -- ClusterIP used if service type is `ClusterIP`.
  clusterIP: ''
  # -- LoadBalancerIP if service type is `LoadBalancer`.
  loadBalancerIP: ''
  # -- Allowed addresses when service type is `LoadBalancer`.
  loadBalancerSourceRanges: []
  # -- Additional annotations for the service object.
  annotations: {}
  # -- Additional labels for the service object.
  labels: {}

serviceMonitor:
  # -- Create a service monitor for prometheus operator.
  enabled: false
  # -- How frequently the exporter should be scraped.
  interval: 30s
  # -- Timeout value for individual scrapes.
  timeout: 10s
  # -- Additional annotations for the service monitor object.
  annotations: {}
  # -- Additional labels for the service monitor object.
  labels: {}

env:
  # -- Timezone for the container.
  - name: TZ
    value: UTC

# -- List of extra arguments for the container.
extraArgs:
  # -- Please note: do not use `start-dev` for production deployments! More info [here](https://www.keycloak.org/server/containers).
  - start-dev

ports:
  http:
    # -- Enable the port inside the `Controller` and `Service` objects.
    enabled: true
    # -- The port used as internal port and cluster-wide port if `.service.type` == `ClusterIP`.
    port: 8080
    # -- The external port used if `.service.type` == `NodePort`.
    nodePort: null
    # -- The protocol used for the service.
    protocol: TCP

secret:
  # -- Create a new secret containing sensitive values required for operation.
  create: true
  # -- Use an existing secret to store the sensitive values. Please note: keys inside the existing secret must match the keys from below!
  existingSecret: ''
  # -- Sensitive values used when not using an existing secret. Helm templates are supported for values.
  values:
    # -- Optional. Admin username.
    # KEYCLOAK_ADMIN: ''
    # -- Optional. Admin password.
    # KEYCLOAK_ADMIN_PASSWORD: ''
  # -- Additional annotations for the secret object.
  annotations: {}
  # -- Additional labels for the secret object.
  labels: {}

serviceAccount:
  # -- Specify the service account used for the controller.
  name: ''

# -- Pod-level security attributes. More info [here](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#security-context).
securityContext: {}
  # fsGroup: 1000
  # runAsNonRoot: true
  # runAsGroup: 1000
  # runAsUser: 1000

# -- Compute resources used by the container. More info [here](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/).
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
