apiVersion: v2
type: application
name: uptime-kuma
description: A Helm chart for Kubernetes
version: 0.3.3
# renovate: image=louislam/uptime-kuma
appVersion: "1.19.2"

home: https://charts.pascaliske.dev/charts/uptime-kuma/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/louislam/uptime-kuma
keywords:
  - uptime
  - uptime-kuma
  - monitoring
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev
