# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: redis
description: A Helm chart for Redis
version: 1.0.0
# renovate: image=redis
appVersion: "7.0.8"

home: https://charts.pascaliske.dev/charts/redis/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/docker-library/redis
  - https://github.com/redis/redis
  - https://redis.io
keywords:
  - redis
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.0.0
    repository: https://charts.pascaliske.dev

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: 'Controller values are now configured using `controller: {}`'
    - kind: changed
      description: 'Default controller kind changed from `Deployment` to `StatefulSet`'
