apiVersion: v2
type: application
name: redis
description: A Helm chart for Redis
version: 0.2.2
# renovate: image=redis
appVersion: "7.0.7"

home: https://charts.pascaliske.dev/charts/redis/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/docker-library/redis
  - https://github.com/redis/redis
  - https://redis.io
keywords:
  - redis
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev
