# yaml-language-server: $schema=https://json.schemastore.org/chart.json
apiVersion: v2
type: application
name: clickhouse
description: A Helm chart for ClickHouse
version: 0.4.0
# renovate: image=clickhouse/clickhouse-server
appVersion: "24.12.6.70-alpine"

home: https://charts.pascaliske.dev/charts/clickhouse/
sources:
  - https://github.com/pascaliske/helm-charts
  - https://github.com/clickhouse/clickhouse
  - https://clickhouse.com
keywords:
  - clickhouse
maintainers:
  - name: pascaliske
    email: info@pascaliske.dev
    url: https://pascaliske.dev

dependencies:
  - name: base
    version: 1.3.0
    repository: https://charts.pascaliske.dev

annotations:
  # possible kinds: added, changed, deprecated, removed, fixed, security
  artifacthub.io/changes: |
    - kind: changed
      description: 'Improve default workload security.'
    - kind: added
      description: 'Support service account creation.'
    - kind: added
      description: 'Support specifying the update strategy of the controller.'
    - kind: added
      description: 'Support different image registries.'
