name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - 'charts/**/Chart.yaml'
      - 'README.md'

jobs:
  release:
    name: Release Charts
    runs-on: ubuntu-latest
    steps:
      # prepare
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      # save readme
      - name: Check file changes
        id: changes
        run: |
          echo ::set-output name=path::$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }})
      - name: Save README.md in temporary file
        if: Contains(steps.changes.outputs.path, 'README.md')
        run: |
          cp -f README.md ${{ runner.temp }}/README.md

      # release chart
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.3.0
        with:
          charts_repo_url: "${{ secrets.REPO_URL }}"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: "true"

      # sync readme with docs branch
      - name: Checkout
        if: Contains(steps.changes.outputs.path, 'README.md')
        uses: actions/checkout@v3
        with:
          ref: gh-pages

      - name: Sync README.md
        if: Contains(steps.changes.outputs.path, 'README.md')
        run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "docs(readme): sync with master"
          git push
