name: Test Charts

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/README.md.tmpl'
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '**/README.md.tmpl'

jobs:
  test:
    name: Test Charts
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v2.4.0

      # prepare
      - uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - uses: azure/setup-helm@v1

      - uses: helm/chart-testing-action@v2.2.0

      - name: Check if charts changed
        id: list-changed
        run: |
          [ -n "$(ct list-changed)" ] && echo "::set-output name=changed::true"  || exit 0

      # lint
      - name: Lint charts
        run: |
          ct lint --all

      # test
      - uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Test charts
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install
